<h2><%= @blanket.name %></h2>
<p>Material: <%=@blanket.material%></p>
<h4><%= number_to_currency(@blanket.price) %><h4>
<%= image_tag @blanket.image_path, :alt => @blanket.name %>
<p>
  <%= @blanket.description %>
</p>

<%= link_to 'Purchase', new_purchase_path(:item_id => @blanket.id)%></br>
<%= link_to 'Home', root_url %>