<h2><%= @membership.name %></h2>
<p>Membership Type: <%=@membership.membership_type%></p>
<h4><%= number_to_currency(@membership.price) %><h4>
<%= image_tag @membership.image_path, :alt => @membership.name %>
<p>
  <%= @membership.description %>
</p>

<%= link_to 'Purchase', new_purchase_path(:item_id => @membership.id)%></br>
<%= link_to 'Home', root_url %>