<p id="notice"><%= notice %></p>

<p>
  <b>Item name:</b>
  <%= @purchase.item_name %>
</p>

<p>
  <b>Email:</b>
  <%= @purchase.email %>
</p>


<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
