<h2><%= @book.name %></h2>
<p>By <%=@book.author%></p>
<h4><%= number_to_currency(@book.price) %><h4>
<%= image_tag @book.image_path, :alt => @book.name %>
<p>
  <%= @book.description %>
</p>

<%= link_to 'Test', "../home/index"%>
<%= link_to 'Home', root_url %>
